{% extends "layout.html" %}

{% block content %}
<div class="front">
    <br>

<div class="box1">
    <b><p>What to eat today {{user}}?</p></b>
    <p>-How 'bout <a href = "/recipes/{{ today }}" style="color:#252525;"> {{ today }}</a>?</p>
</div>
<br>
<br><br>
<div class="box2">
<b><p>Weekend menu?</p></b>
    {% for entry in weekend %} 
    
    <table>
       <li><a href = "/recipes/{{ entry[0] }}" style="color:#252525;">{{ entry[0] }}</a></li>
        {% endfor %}
    </table>

</div>

<br>
<br>
<div class="box3">
<b><p>Recipes in the app: {{ count }}</p></b>
</div>
<br>

</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
{% endblock %}
{% block title %}Etusivu{% endblock %}