body {
    margin: auto;
    max-width: 45em;
    
   
}
table {
    width: 80%;
}

form {
    display: inline-block;
}


.header {
    display: flex;
    justify-content: space-between;
}

.body {
    height: 100px;
    width: 200px;
    overflow: auto;
    border-color: grey;
    background-color: whitesmoke;
    border-width: thin;
    border-style: solid;
  }