{% extends "layout.html" %}

{% block content %}


{% if not session.username %}
    <a href="/login">Login</a> to use basket for making and saving grocery lists.
    <br>
    <br>
        New user? <a href="/register">Register</a> here.

{% endif %}

{% if session.username %}

<h1>Make shopping list</h1>

<table>
  <tr>
    <th>Product</th>
    <th >Amount</th>
    <th >Unit</th>
  </tr>
</table>



<table id="myTable">
    {% for entry in basket %}
    <tr>
      <td><input id="ingredient" name="ingredient" type="text" value = {{ entry[0] }} ></td>

      <td><input id="amount" name="amount" type="text" value = {{ entry[1]}} ></td>
    
        <td><select name="unit" id="unit">
        <option val="">{{entry[2]}}</option>
        <option val="kg">kg</option>
        <option val="g">g</option>
        <option val="dl">dl</option>
        <option val="l">l</option>
        <option val="tl">tl</option>
        <option val="rkl">rkl</option>
        <option val="kpl">kpl</option>
        </select></td>
    </tr>
        {% endfor %}  
    <br>
</table> 
<br>

<form action="/basket" method="POST" onsubmit="get_inputs()">

        <input type="button" value="+ Product" onclick="add_new_line_to_basket()">
        <input type="button" id="button" value="- Product" class="remove" onclick="remove_elements()">
        <br>
        <br>
        <br>
        
        Name: <input type="text" name="name" minlength="1" maxlength="30">
        <input type="submit" value="Save list">
        <input type="submit" value="Empty basket" onclick="empty_basket()">
      

        
        <input type="hidden" name="empty" id="empty" value="0">
        <input type="hidden" name="lines" id="lines" value="tre">
        <input type="hidden" name="missingInput" id="missingInput" value="">
        <input type="hidden" name="csrf_token" value="{{ session.csrf_token}}">
       
</form>        
{% endif %}

<script type="text/javascript">
    var i=0;

    function empty_basket(){
      document.getElementById("empty").value = "1"
    }

    function add_new_line_to_basket(){

      var table = document.getElementById("myTable");

      var tr = document.createElement('tr');
      var elements = document.getElementsByTagName("td")
      var unit = elements[2]

      var input_ingredient = document.createElement("input")
      var input_amount = document.createElement("input")
      var td_ingredient = document.createElement("td")
      var td_amount = document.createElement("td")
      
      input_ingredient.type = "text"
      input_ingredient.id = "ingredient"
      input_ingredient.name = "ingredient"
      input_ingredient.value = ""

      input_amount.type = "text"
      input_amount.id = "amount"
      input_amount.name = "amount"
      input_amount.value = ""

      td_ingredient.append(input_ingredient)
      td_amount.append(input_amount)

      var clone_unit = unit.cloneNode(true)

      tr.appendChild(td_ingredient)
      tr.appendChild(td_amount)
      tr.appendChild(clone_unit)

      table.append(tr)
    }
    

    function get_inputs(){

      var ingredients = document.querySelectorAll("#ingredient");
      var amounts = document.querySelectorAll("#amount");
      var units = document.querySelectorAll("#unit");
      var string = ""

      for(var i = 0; i<ingredients.length; i++){
           
           var ingredient = ingredients[i].value;
           var amount = amounts[i].value;
           var unit = units[i].value;

          if (ingredient.length === 0 || amount.length === 0 || unit.length === 0){
            alert("Empty inputs")
            document.getElementById("missingInput").value = "1"
            break
          }

           string += ingredient + " " + amount + " " + unit + " "
       }

      document.getElementById('lines').value = string
       
      return string;

    }

    function remove_elements() {

        var elements = document.getElementsByTagName("tr")

        if(elements.length > 2){
          var last = elements.length-1;
          elements[last].parentNode.removeChild(elements[last])
        }
            
        return false;
    }

</script>

{% endblock %}