{% extends "layout.html" %}

{% block content %}


<h1>Shopping list</h1>
<table>
<tr>
<th>Product</th>

<th >Amount</th>

<th >Unit</th>
</tr>
</table>

<table>
  
    {% for entry in basket %}
    
    <tr>
      <td><input id="ingredient" name="ingredient" type="text" value = {{ entry[0] }} ></td>

      <td><input id="amount" name="amount" type="text" value = {{ entry[1]}} ></td>

      
        <td><select name="unit" id="unit">
        <option val="">{{entry[2]}}</option>
        <option val="kg">kg</option>
        <option val="g">g</option>
        <option val="dl">dl</option>
        <option val="l">l</option>
        <option val="tl">tl</option>
        <option val="rkl">rkl</option>
        <option val="kpl">kpl</option>
        </select></td>

        <td><input type="button" id="button" value="Remove" class="remove" onclick="remove_elements()"></td>
    </tr>
        {% endfor %}  
    <br>


</table> 

<br>
<br>
<br>
<form action="/basket" method="POST" onsubmit="get_inputs()">
Name: <input type="text" name="name" minlength="1" maxlength="30">
<input type="submit" value="Save list">
<input type="hidden" name="lines" id="lines" value="tre">
<input type="hidden" name="missingInput" id="missingInput" value="">


</form>
      

  <script type="text/javascript">
    var i=0;
    var counter
    

    function get_inputs(){
      var ingredients = document.querySelectorAll("#ingredient");
      var amounts = document.querySelectorAll("#amount");
      var units = document.querySelectorAll("#unit");

      
      
      var string = ""
      for(var i = 0; i<ingredients.length; i++){
           
           var ingredient = ingredients[i].value;
           var amount = amounts[i].value;
           var unit = units[i].value;

          if (ingredient.length === 0 || amount.length === 0 || unit.length === 0){
            alert("Empty input" + i)
            document.getElementById("missingInput").value = "1"
            break
          }


           string += ingredient + " " + amount + " " + unit + " "
           
           
       }

      
      document.getElementById('lines').value = string
       
      return string;

    }

    function remove_elements() {
        var ingredients = document.querySelectorAll("#ingredient");
        var amounts = document.querySelectorAll("#amount");
        var units = document.querySelectorAll("#unit");
        var buttons = document.querySelectorAll("#button");

        alert(amounts)

        var last = amounts.length-1;
        
       
        ingredients[last].parentNode.removeChild(ingredients[last]);
        amounts[last].parentNode.removeChild(amounts[last]);
        units[last].parentNode.removeChild(units[last]);
        buttons[last].parentNode.removeChild(buttons[last]);
        
          
        return false;
    }

    function element_counter(){
      var counter = 0
    }


  </script>
{% endblock %}