{% extends "layout.html" %}

{% block content %}

<h1>Edit recipe: {{recipe_name}}</h1>

<form action="/recipes/{{recipe_name}}/edit" method="POST" onsubmit="get_inputs()" >
    <input type="hidden" name="lines" id="lines" value="tre">
    <input type="hidden" name="missingInput" id="missingInput" value="">
    <input type="hidden" name="negativeAmount" id="negativeAmount" value="">
    <input type="hidden" name="notNumericAmount" id="notNumericAmount" value="">
    <input type="hidden" name="ingredients" id="ingredients">
    <input type="hidden" name="csrf_token" value="{{ session.csrf_token}}">
    <input type="hidden" name="whiteSpace" id="whiteSpace" value="">

    <h3>Update instructions:</h3>
    <textarea name="instructions" rows="10", cols="36">{{instructions}}</textarea>

    <table id="myTable">
        
        <tr >
            <th >Ingredient</th><br>
            <th >Amount</th>
            <th >Unit</th>
        </tr>
        {% for entry in ingredients %}
        <tr>
            <td><input id="ingredient" name="ingredient" type="text" minlength="1" maxlength="40" value = {{ entry[0] }} ></td>
            <td><input id="amount" name="amount" type="text" size="10" minlength="1" maxlength="5" value = {{ entry[1]}} ></td>
        
            <td><select name="unit" id="unit">
            <option val="">{{entry[2]}}</option>
            <option val="kg">kg</option>
            <option val="g">g</option>
            <option val="dl">dl</option>
            <option val="l">l</option>
            <option val="tl">tl</option>
            <option val="rkl">rkl</option>
            <option val="kpl">kpl</option>
            </select></td>
        </tr>
        {% endfor %}  
        <br>
    </table>
    <br> 
    
    <input type="button" value="+ Ingredient" onclick="add_new_line()">
    <input type="button" id="button" value="- Ingredient" class="remove" onclick="remove_line()">
    <br>
    <br>
    <input type="submit" value="Save changes" method="POST">

</form>
<br>
<br>
<button onclick="history.back()">Back</button>
<br>

<script type="text/javascript">
    var i=0;

    function add_new_line(){

        var table = document.getElementById("myTable");

        var tr = document.createElement('tr');
        var elements = document.getElementsByTagName("td")
        var unit = elements[2]

        var input_ingredient = document.createElement("input")
        var input_amount = document.createElement("input")
        var td_ingredient = document.createElement("td")
        var td_amount = document.createElement("td")

        input_ingredient.type = "text"
        input_ingredient.id = "ingredient"
        input_ingredient.name = "ingredient"
        input_ingredient.value = ""

        input_amount.type = "text"
        input_amount.id = "amount"
        input_amount.name = "amount"
        input_amount.value = ""
        input_amount.size = "10"

        td_ingredient.append(input_ingredient)
        td_amount.append(input_amount)

        var clone_unit = unit.cloneNode(true)

        tr.appendChild(td_ingredient)
        tr.appendChild(td_amount)
        tr.appendChild(clone_unit)

        table.append(tr)
    }
            
    function remove_line() {

        var elements = document.getElementsByTagName("tr")

        if(elements.length > 2){
        var last = elements.length-1;
        elements[last].parentNode.removeChild(elements[last])
        }
            
        return false;
    }

    function get_inputs(){

        var ingredients = document.querySelectorAll("#ingredient");
        var amounts = document.querySelectorAll("#amount");
        var units = document.querySelectorAll("#unit");
        var string = ""
       
        for(var i = 0; i<ingredients.length; i++){
            var ingredient = ingredients[i].value;
            var amount = amounts[i].value;
            var unit = units[i].value;

            if (ingredient.length === 0 || amount.length === 0 || unit.length === 0){
                alert("Empty inputs")
                document.getElementById("missingInput").value = "1"
                document.getElementById('lines').value = string
                return string;
            }

            if (containsWhitespace(ingredient)){
                alert("Ingredient can't contain white space! Use _ instead.")
                document.getElementById("whiteSpace").value = "1"
                document.getElementById('lines').value = string
                return string
            }

            if (amount < 0){
                alert("Amount can't be negative")
                document.getElementById("negativeAmount").value = "1"
                document.getElementById('lines').value = string
                return string;
            }
            if (isNaN(amount)){
                alert("Incorrect amount")
                document.getElementById("notNumericAmount").value = "1"
                document.getElementById('lines').value = string
                return string;
            }
            string += ingredient + " " + amount + " " + unit + " "
        }

        document.getElementById('lines').value = string
        
        return string;

    }

    function containsWhitespace(str) {
    return /\s/.test(str);
    }

</script>


{% endblock %}