<!doctype html>
<link rel="stylesheet" href="static/style.css">

<title>Grocery lists & Recipes</title>

<div class="header">
    <h1>Grocery lists & Recipes</h1>
      <div class="nav"></div>
          {% if session.username %}
          <p align="right"><b>{{ session.username }} <a href="/logout" name="user">Logout</a></b></p>
          <a href="/basket">Basket</a>
          {% if session.user_role != None %}       
          <label for="user" > Administrator</label>      
          {% endif %}
          {% else %}
          <p align="right"><a href="/login">Login</a> or <a href="/register">Register</a></p>

          {% endif %}
      </div>
</div>

<hr>

{% block content %}{% endblock %}
<hr>