{% extends "layout.html" %}

{% block content %}
{% if session.username == user[0] %}
<form action="/grocery/{{list_name}}/edit" method="GET" >
    <input type="submit" value="Edit">
</form>

<form action="/lists/{{list_name}}/delete" method="get" >
    <input type="submit" value="Delete">
</form>
{% endif %}

<h2>Grocery List:</h2>

<h2>{{list_name}}</h2>


    {% for entry in items %} 
    <table>
          <label for="check' +  '">{{ entry[0]}} {{entry[1]}} {{entry[2]}}</label>
        {% endfor %}
    </table>

<br>


{% if session.username %}
<br>
<form action="/grocery/{{list_name}}" method="post">
    <input type="hidden" name="csrf_token" value="{{ session.csrf_token}}">
    <input type="submit" value="Send to basket">
</form>




{% endif %}

<br>
<button onclick="history.back()">Back</button>

{% endblock %}