{% extends "layout.html" %}


{% block content %}


<h1>Products</h1>

<form action="/products" onsubmit="check_add_to_shopping_list()" method="POST">
    Save product to database:<br>
    <input type="text" name="name" id="product_name" minlength="1" maxlength="20"> <input type="submit" value="Save product"><p>
    <input type="hidden" name="checked_products" id="checked_products1" value="" /> 

    <input type="hidden" name="add_to_shopping_list" id="add" value="0" /> 
    <span><input type="checkbox" class="shop" id="check' + '" name="check' +  '">
     Send product also to basket</span>
</form>
<br>
<br>

<h3>Select products for basket:</h3>
<div class="body">
    
    {% for entry in products %} 
    <table>
        <input type="checkbox" class="checkboxes" id="check' + '" name="check' +  '">    <label for="check' +  '">{{ entry[1] }}</label>
        {% endfor %}
    </table>
</div>
<br>

<form action="/products" onsubmit="get_checked_products()" method="POST">
   <br>
   <input type="hidden" name="name" />  
   <input type="hidden" name="checked_products" id="checked_products" value="" />  

   <input type="submit" value="Send to basket">
   
</form>

<br>
<br>
<br>
<button onclick="history.back()">Back</button>


<script type="text/javascript">

    function check_add_to_shopping_list(){
        var check_box = document.getElementsByClassName("shop");
          if(check_box[0].checked){
            var product = document.getElementById("product_name").value           
         
            document.getElementById('checked_products1').value = product
            
      
        }
        alert(document.getElementById("checked_products1").value)

    }

    function get_checked_products(){
        
        var check_boxes = document.getElementsByClassName('checkboxes');
        var labels = document.getElementsByTagName("label");
        var checked_products = ""
        for(var i = 0; i<check_boxes.length; i++){
                box = check_boxes[i];
                
                product = labels[i].textContent

                if(box.checked){
                    checked_products += product + " "
                }
        }
        document.getElementById('checked_products').value = checked_products
        alert(document.getElementById("checked_products").value)
    }

</script>


{% endblock %}