{% extends "layout.html" %}

{% block content %}


<h1>Products</h1>

<div class="body">
{% for entry in products %} 
<table>
<input type="checkbox" class="checkboxes" id="check' + '" name="check' +  '">    <label for="check' +  '">{{ entry[1] }}</label>
{% endfor %}
</table>
</div>
      
<br>

<form action="/products" method="POST">
    Name: <br><input type="text" name="name" minlength="1" maxlength="20">
    <p>
    
    <input type="submit" value="Add product">
    
    </form>

    
<a href="/">Return</a>


{% endblock %}