{% extends "layout.html" %}

{% block content %}

<h1>Recipe</h1>

<h2>{{ recipe_name }}</h2>


    {% for entry in ingredients %} 
    <table>
          <label for="check' +  '">{{ entry[0]}} {{entry[1]}} {{entry[2]}}</label>
        {% endfor %}
    </table>


<br>

    {{instructions}}


<br>
{% if session.username %}
<br>
<form action="/recipes/{{recipe_name}}" method="post">
    <input type="hidden" name="csrf_token" value="{{ session.csrf_token}}">
    <input type="submit" value="Shop Recipe">
    <br>
</form>
<br>
<br>
<br>
{% if session.username == user[0] %}
Created by you
{% else %}
Created by {{user[0]}}
{% endif %}

<br>
{% if session.username == user[0] %}
<form action="/recipes/{{recipe_name}}/edit" method="get" >
    <input type="submit" value="Edit">
</form>

<form action="/recipes/{{recipe_name}}/delete" method="get" >
    <input type="submit" value="Delete">
</form>
{% endif %}
<br>
<br>
<br>
<button onclick="history.back()">Back</button>
{% endif %}
{% endblock %}